@charset "UTF-8";
@namespace epub "http://www.idpf.org/2007/ops";

span[epub|type~="subtitle"] {
        display: block;
        font-weight: normal;
}

footer {
        text-align: right;
        margin-top: 1em;
}

li > p:first-child,
ol+p {
        text-indent: 0;
}
