@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

footer{
	margin-top: 1em;
	text-align: right;
}

p[epub|type~="dedication"]{
	font-variant: small-caps;
	margin: 2em 0;
	text-align: center;
}

p[epub|type~="dedication"] + p{
	text-indent: 0;
}
